.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fefefe;
    z-index: 100;
    width: 100%;


}

.header_logo{
margin-left: 20px;
    height: 80px;
    object-fit: contain;

}
.header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border-radius: 999px;
    border: 1px solid lightgray;
}

.header_center > input{
    border: none;
    /* width: 250px; */
    padding: 10px;
    outline-width: 0;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}