.facebook-login {
  cursor: pointer;
  transition-property: background, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  padding-left: 22px;
  padding-right: 22px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background: rgb(69, 104, 178);
  border-color: rgb(69, 104, 178);
  margin-left: 11px;
  margin-right: 11px;
}
.google-login {
  cursor: pointer;
  transition-property: background, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  color: Orgb(72, 72, 72);
  text-decoration: none;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background: rgb(255, 255, 255);
  border-color: rgb(118, 118, 118);
  margin-left: 11px;
  margin-right: 11px;
}
.github-login {
  cursor: pointer;
  transition-property: background, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  color: rgb(72, 72, 72);
  text-decoration: none;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background: rgb(255, 255, 255);
  border-color: rgb(118, 118, 118);
  margin-left: 11px;
  margin-right: 11px;
}

.login-modal .register-form,
.login-modal,
.login-form {
  margin-top: 20px;
}

.login-modal .register-form input,
.site-modal .login-form input {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  color: #484848;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: normal;
  background-color: transparent;
  margin-left: 11px;
  margin-right: 11px;
  width: 100% !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-radius: 4px !important;
  margin-bottom: 20px;
}

.login-modal .register-form input::-webkit-input-placeholder,
.login-modal .login-form input::-webkit-input-placeholder {
  color: #484848;
}

.signIn-btn {
  display: inline-block !important;
  position: relative !important;
  text-align: center !important;
  transition-property: background, border-color, color !important ;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-out !important;
  cursor: pointer !important;
  width: 100% !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkSystemFont, Robot, "Helvetica Neue",
    sans-serif !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 800 !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.login-or span {
  display: flex;
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding: 15px;
  justify-content: center;
}

.or-divider {
  border-bottom: 1px solid #e4e4e4;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 1;
  margin: 10px 0px;
}

.divider {
  border: 1px solid #e4e4e4;
  margin: 25px 0px 15px;
}
